@keyframes fallDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fallDownAnimation {
    opacity: 0; /* Hidden initially */
    animation: fallDown 0.5s ease forwards;
  }
  