@keyframes fallDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fallDownAnimation {
    opacity: 0; /* Hidden initially */
    animation: fallDown 0.5s ease forwards;
  }
  

  /* Style the scrollbar track */
::-webkit-scrollbar {
  width: 8px;  /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #939393;  /* Color of the scrollbar handle */
  border-radius: 10px;  /* Rounded corners */
  border: 2px solid #f1f1f1; /* Border around the thumb */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

.homepageStyle{
  font-family: inherit;
}
.fontSizeTitle{
  font-size: 1rem;
}
.fontSizetext{
 font-size: 1.06vw ;
}
.fontSizetext {
  font-size: 1.08vw !important; /* Default font size for larger screens */
}

@media (max-width: 768px) {
  .fontSizetext {
    font-size: 4vw !important; /* Reduced font size for mobile screens */
    text-align: left !important;
  }
}

@media (max-width: 480px) {
  .fontSizetext {
    font-size: 5vw !important; /* Further reduced font size for very small screens */
    text-align: left !important;
  }
}



/* src/components/Home_page.css */

.grid-container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.grid-container.animate {
  opacity: 1;
  transform: translateY(0);
}

.fontSizeTitle {
  font-size: 32px;
  color: #3e3e3e;
}

.fontSizetext {
  font-size: 16px;
  color: #777;
}
